<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442604889602-8kl0uq694jd124j63ke1sah0apm5j8ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442604889602-8kl0uq694jd124j63ke1sah0apm5j8ob</string>
	<key>API_KEY</key>
	<string>AIzaSyDc_vAisU5JymYC_Qkz4zXq1JumYMFuZRw</string>
	<key>GCM_SENDER_ID</key>
	<string>442604889602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.internalClass4</string>
	<key>PROJECT_ID</key>
	<string>internal-class-4</string>
	<key>STORAGE_BUCKET</key>
	<string>internal-class-4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442604889602:ios:04795cecbc3ad9f5f2291b</string>
</dict>
</plist>